{% extends "base.html" %}

{% block extrahead %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/mycalendar/mycalendar.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/myclasses/myclasses.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/mygroups/mygroups.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/tasks/tasks.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/notifications/notifications.css">
{% endblock extrahead %}

{% block content %}

<body class="cc-page-dashboard">

<div class="cc-container-main" role="main">
	<!-- Page specific HTML -->
	<div class="cc-container-widgets">
		<div class="cc-page-dashboard-column-narrow cc-left">
			<div class="cc-container-widget" id="cc-widget-mycalendar">
<div class="cc-widget-title">
	<h2>Up Next <a href="http://bcal.berkeley.edu" class="ir cc-right cc-icon cc-icon-calendar" title="View calendar in bCal">bCal</a></h2>
</div>
<!-- MAIN VIEW -->
<div class="cc-widget-mycalendar-container">

		<ul class="cc-widget-mycalendar-datelist">

			<li>
				<div class="cc-widget-mycalendar-datelist-time cc-left">


							<div class="cc-widget-mycalendar-datelist-time-hour cc-left">8</div>
							<div class="cc-widget-mycalendar-datelist-time-minutes cc-left">
								45<br>
								<span class="cc-widget-mycalendar-datelist-time-ampm">AM</span>
							</div>


				</div>
				<div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
					<a href="https://www.google.com/calendar/event?eid=ZzIxMHMxNGdxbmQ4YWljNnV0dXFqazJzZ2sgc2hhY2tlckBiZXJrZWxleS5lZHU">Scot in late (school tour)</a>

						<br><a href="#" class="cc-widget-mycalendar-datelist-location cc-ellipsis">Archway</a>

				</div>
				<a href="" title=""></a>
			</li>

			<li>
				<div class="cc-widget-mycalendar-datelist-time cc-left">


							<div class="cc-widget-mycalendar-datelist-time-hour cc-left">11</div>
							<div class="cc-widget-mycalendar-datelist-time-minutes cc-left">
								00<br>
								<span class="cc-widget-mycalendar-datelist-time-ampm">AM</span>
							</div>


				</div>
				<div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
					<a href="https://www.google.com/calendar/event?eid=MGpydXVxaDRjN2NvZGY4dW5sbDcxdDlicDhfMjAxMjEwMDlUMTgwMDAwWiBzaGFja2VyQGJlcmtlbGV5LmVkdQ">CalCentral Team Standup</a>

						<br><a href="#" class="cc-widget-mycalendar-datelist-location cc-ellipsis">117 Dwinelle</a>

				</div>
				<a href="" title=""></a>
			</li>

			<li>
				<div class="cc-widget-mycalendar-datelist-time cc-left">


							<div class="cc-widget-mycalendar-datelist-time-hour cc-left">11</div>
							<div class="cc-widget-mycalendar-datelist-time-minutes cc-left">
								00<br>
								<span class="cc-widget-mycalendar-datelist-time-ampm">AM</span>
							</div>


				</div>
				<div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
					<a href="https://www.google.com/calendar/event?eid=XzY4bzMyY2hnNm9wM2l0MWk2OHBqY2M5aGY4bWoyYzFwNmtvNjRiOWg1a29tNmNwbWNsZ2phZTlkZHRwNjJvcmNja18yMDEyMTAwOVQxODAwMDBaIHNoYWNrZXJAYmVya2VsZXkuZWR1">CalCentral Team Mtg</a>

						<br><a href="#" class="cc-widget-mycalendar-datelist-location cc-ellipsis">Dwinelle 0004-Faculty Lab</a>

				</div>
				<a href="" title=""></a>
			</li>

			<li>
				<div class="cc-widget-mycalendar-datelist-time cc-left">


							<div class="cc-widget-mycalendar-datelist-time-hour cc-left">11</div>
							<div class="cc-widget-mycalendar-datelist-time-minutes cc-left">
								00<br>
								<span class="cc-widget-mycalendar-datelist-time-ampm">AM</span>
							</div>


				</div>
				<div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
					<a href="https://www.google.com/calendar/event?eid=XzhncTRhaGhnNjExamFjMW04Y3JqOGc5azc1MTM0ZHBrNzRya2NoOXA2NHNqY2NoazhwMjMwYzFnNjBvMzBjMWc2MG8zMGMxZzYwbzMwYzFnNjBvMzBjMWc2MG8zMGMxZzYwbzMwYzBfMjAxMjEwMDlUMTgwMDAwWiBzaGFja2VyQGJlcmtlbGV5LmVkdQ">CalCentral Team Standup</a>

						<br><a href="#" class="cc-widget-mycalendar-datelist-location cc-ellipsis">117 Dwinelle</a>

				</div>
				<a href="" title=""></a>
			</li>

			<li>
				<div class="cc-widget-mycalendar-datelist-time cc-left">


							<div class="cc-widget-mycalendar-datelist-time-hour cc-left">12</div>
							<div class="cc-widget-mycalendar-datelist-time-minutes cc-left">
								00<br>
								<span class="cc-widget-mycalendar-datelist-time-ampm">PM</span>
							</div>


				</div>
				<div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
					<a href="https://www.google.com/calendar/event?eid=Z2NpcDM2OTVjN2hmamRkaWIwZWpvcmp0NWsgc2hhY2tlckBiZXJrZWxleS5lZHU">Responsive design</a>

						<br><a href="#" class="cc-widget-mycalendar-datelist-location cc-ellipsis">303 Doe</a>

				</div>
				<a href="" title=""></a>
			</li>

			<li>
				<div class="cc-widget-mycalendar-datelist-time cc-left">


							<div class="cc-widget-mycalendar-datelist-time-allday cc-left">all-day</div>


				</div>
				<div class="cc-widget-mycalendar-datelist-summary cc-ellipsis">
					<a href="https://www.google.com/calendar/event?eid=cWM2M2g2NXNpcmQxMWI4MzBlbG9nbnAxcnMgc2hhY2tlckBiZXJrZWxleS5lZHU">Rachel vacation</a>

				</div>
				<a href="" title=""></a>
			</li>

		</ul>

</div>

</div>

			<div class="cc-container-widget" id="cc-widget-myclasses">
<div class="cc-widget-title">
	<h2>My Classes <span class="cc-right cc-widget-title-small">Fall 2012</span></h2>
</div>
<!-- MAIN VIEW -->
<div class="cc-widget-myclasses-list">

		<ul class="cc-widget-list">

			<li class="cc-widget-list-icon cc-icon-canvas">
				<a href="https://ucberkeley.instructure.com/courses/832071" class="cc-ellipsis cc-myclasses-link-with-title">Biology</a>
				<div class="cc-widget-list-subtitle cc-ellipsis">Biology for Poets</div>
			</li>

			<li class="cc-widget-list-icon cc-icon-canvas">
				<a href="https://ucberkeley.instructure.com/courses/830013" class="cc-ellipsis cc-myclasses-link-with-title">Javascript-101</a>
				<div class="cc-widget-list-subtitle cc-ellipsis">Intermediate JavaScript</div>
			</li>

			<li class="cc-widget-list-icon cc-icon-canvas">
				<a href="https://ucberkeley.instructure.com/courses/750027" class="cc-ellipsis cc-myclasses-link-with-title">PLEO 22</a>
				<div class="cc-widget-list-subtitle cc-ellipsis">Lessons from the Cambrian Explosion</div>
			</li>

			<li class="cc-widget-list-icon cc-icon-canvas">
				<a href="https://ucberkeley.instructure.com/courses/830065" class="cc-ellipsis cc-myclasses-link-with-title">Responsive-Design</a>
				<div class="cc-widget-list-subtitle cc-ellipsis">Responsive Design Workshop</div>
			</li>

			<li class="cc-widget-list-icon cc-icon-canvas">
				<a href="https://ucberkeley.instructure.com/courses/760795" class="cc-ellipsis cc-myclasses-link-with-title">Stat 150C</a>
				<div class="cc-widget-list-subtitle cc-ellipsis">Applied Sabrmetrics</div>
			</li>

		</ul>

</div>

</div>

			<div class="cc-container-widget" id="cc-widget-mygroups">
<div class="cc-widget-title">
	<h2>My Groups</h2>
</div>
<!-- MAIN VIEW -->
<div class="cc-widget-mygroups-list">

		<ul class="cc-widget-list">

			<li class="cc-widget-list-icon cc-icon-canvas">
				<a class="cc-ellipsis" href="https://ucberkeley.instructure.com/groups/49957" title="">Canvas/ETS Collaboration</a>
			</li>

			<li class="cc-widget-list-icon cc-icon-bspace">
				<a class="cc-ellipsis" href="https://sakai-dev.berkeley.edu/portal/site/7ea7d89c-b87c-4221-a2ea-16aee252b967" title="">OE IT Design Initiative (DEV)</a>
			</li>

			<li class="cc-widget-list-icon cc-icon-bspace">
				<a class="cc-ellipsis" href="https://sakai-dev.berkeley.edu/portal/site/b1df3076-88c5-43cc-00d2-632b196f8497" title="">UIE Seminars &amp; UCD Group Resources (DEV)</a>
			</li>

		</ul>

</div>

</div>

		</div>
		<div class="cc-page-dashboard-column-wide cc-page-dashboard-column-shadow cc-left">
			<div class="cc-container-widget" id="cc-widget-tasks">
<div class="cc-widget-title">
	<h2>Assignments and Tasks</h2>
</div>
<!-- MAIN VIEW -->
<div class="cc-tasks-list">
	<div class="cc-widget-body">
		<img src="{{STATIC_URL}}img/myb/task_slider.png" alt="Task slider placeholder" class="cc-widget-tasks-taskslider">
		<div class="cc-widget-section-label">Due</div>
		<ul class="cc-widget-notifications-list cc-widget-section-list">
			{% for t in tasks_due %}
				{% include "dashboard/taskloop.html" %}
			{% endfor %}
		</ul>

		<div class="cc-widget-section-label">Due Tomorrow</div>
		<ul class="cc-widget-notifications-list cc-widget-section-list">
			{% for t in tasks_tomorrow %}
				{% include "dashboard/taskloop.html" %}
			{% endfor %}
		</ul>

		<div class="cc-widget-section-label">Upcoming</div>
		<ul class="cc-widget-notifications-list cc-widget-section-list">
			{% for t in tasks_upcoming %}
				{% include "dashboard/taskloop.html" %}
			{% endfor %}
		</ul>

		<div class="cc-widget-section-label">Unscheduled</div>
		<ul class="cc-widget-notifications-list cc-widget-section-list">
			{% for t in tasks_unscheduled %}
				{% include "dashboard/taskloop.html" %}
			{% endfor %}
		</ul>
	</div>
</div>

</div>

		</div>
		<div class="cc-page-dashboard-column-wide cc-left">
			<div class="cc-container-widget" id="cc-widget-notifications">
<div class="cc-widget-title">
	<h2>Notifications</h2>
</div>
<!-- MAIN VIEW -->
<div class="cc-notifications-list">
<div class="cc-widget-body">
	<ul class="cc-widget-notifications-list cc-widget-section-list">


	<li class="cc-widget-list-icon-big cc-icon-big-alert">
		<a href="https://warnme.berkeley.edu/" class="cc-widget-tasks-notifications-short-title cc-alert cc-ellipsis">Evacuate Dwinelle Hall</a>
		<div class="cc-right cc-alert">

				Today

		</div>
		<div class="cc-widget-notifications-summary">Evacuate Dwinelle Hall immediately, gas leak</div>
		<div class="cc-widget-task-notifications-list-source"><a href="https://warnme.berkeley.edu/">WARN ME</a></div>
	</li>



	<li class="cc-widget-list-icon-big cc-icon-big-alert">
		<a href="https://bearfacts.berkeley.edu/" class="cc-widget-tasks-notifications-short-title cc-alert cc-ellipsis">Incomplete Grade Notice - Math 1B</a>
		<div class="cc-right cc-alert">

				Today

		</div>
		<div class="cc-widget-notifications-summary">You have 90 days to complete Math 1B and submit a Petition to Remove an Incomplete</div>
		<div class="cc-widget-task-notifications-list-source"><a href="https://bearfacts.berkeley.edu/">Bear Facts</a></div>
	</li>


	</ul>

	<div class="cc-widget-section-label">Today</div>

	<ul class="cc-widget-notifications-list cc-widget-section-list">


	<li class="cc-widget-list-icon-big cc-icon-big-block">
		<a href="https://studentbilling.berkeley.edu" class="cc-widget-tasks-notifications-short-title cc-ellipsis">Spring Registration Block - Unpaid CARS Bill</a>
		<div class="cc-right"></div>
		<div class="cc-widget-notifications-summary">You have an unpaid CARS balance of $673.  Action Required.</div>
		<div class="cc-widget-task-notifications-list-source"><a href="https://studentbilling.berkeley.edu">Student Billing Services</a></div>
	</li>



	<li class="cc-widget-list-icon-big cc-icon-big-classes">
		<a href="https://ucberkeley.instructure.com/courses/833384" class="cc-widget-tasks-notifications-short-title cc-ellipsis">Grade Posted - Midterm Exam</a>
		<div class="cc-right"></div>
		<div class="cc-widget-notifications-summary">87 out of 100</div>
		<div class="cc-widget-task-notifications-list-source"><a href="https://ucberkeley.instructure.com/courses/833384">ETH STD 21AC</a></div>
	</li>


	</ul>

	<div class="cc-widget-section-label">Recent</div>

	<ul class="cc-widget-notifications-list cc-widget-section-list">


	<li class="cc-widget-list-icon-big cc-icon-big-finances">
		<a href="http://studentbilling.berkeley.edu/" class="cc-widget-tasks-notifications-short-title cc-ellipsis">November CARS bill Posted</a>
		<div class="cc-right">10/8</div>
		<div class="cc-widget-task-notifications-list-source">Student Billing Services</div>
	</li>



	<li class="cc-widget-list-icon-big cc-icon-big-classes">
		<a href="https://ucberkeley.instructure.com/courses/833382" class="cc-widget-tasks-notifications-short-title cc-ellipsis">Appointment Signups Updated - Office Hours</a>
		<div class="cc-right">10/8</div>
		<div class="cc-widget-task-notifications-list-source">EE 20N</div>
	</li>



	<li class="cc-widget-list-icon-big cc-icon-big-academics">
		<a href="https://telebears.berkeley.edu" class="cc-widget-tasks-notifications-short-title cc-ellipsis">TeleBears Phase I Appointment - Oct 26 at 11am</a>
		<div class="cc-right">9/20</div>
		<div class="cc-widget-task-notifications-list-source">TeleBears</div>
	</li>



	<li class="cc-widget-list-icon-big cc-icon-big-finances">
		<a href="http://example.com" class="cc-widget-tasks-notifications-short-title cc-ellipsis">Incomplete Emergency Loan Application Notice</a>
		<div class="cc-right">9/20</div>
		<div class="cc-widget-task-notifications-list-source">MyFinAid</div>
	</li>


	</ul>
</div>
</div>

</div>

		</div>
	</div>
	<!-- END Page specific HTML -->
</div>



{% endblock content %}
